<div class="border-b-2 rounded-md mb-4">
  <h2 class="text-3xl font-bold text-gray-800 mb-6 text-center">Region Lens</h2>
</div>
<div class="p-4 max-w-7xl mx-auto">
    <div class="mb-6 text-center">
        <label class="inline-flex items-center cursor-pointer">
            <span class="mr-3">Area</span><input type="checkbox" (change)="toggleData()" class="sr-only peer">
            <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-500 dark:peer-focus:ring-blue-300 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600 dark:peer-checked:bg-blue-600"></div>
            <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Population</span>
          </label>
      </div> 
    <div class="w-full overflow-x-auto">
      <app-circle-pack-chart 
        [transformedChartData]="transformedData()"
      ></app-circle-pack-chart>
    </div>
    <app-drawer
    [drawerTitle]="drawerService.drawerTitle"
    [drawerContent]="drawerService.drawerContent"
    [showDrawer]="drawerService.isOpen"
    (hide)="drawerService.closeDrawer()">
    <app-country-detail></app-country-detail>
  </app-drawer>
</div>
  